Repository rush-f/RUSH-C, pull requests merged in 2021-06, with the labels that each got.

#68 feat: MariaDB 의존성 추가
  backend/rush/build.gradle
Labels: backend

#66 feat: articledetail page에서 closebutton 누를시 해당 게시 글의 좌표로 이동
  frontend/rush/src/components/articleDetail/ArticleDetailPage.js
  frontend/rush/src/components/articleDetail/ArticleMeta.js
  frontend/rush/src/components/articleDetail/CancelButton.js
  frontend/rush/src/components/home/DefaultMap.js
  frontend/rush/src/components/home/DefaultMapPage.js
  frontend/rush/src/components/login/OAuth2RedirectHandler.js
  frontend/rush/src/components/writing/CreateWritingApi.js
Labels: feature, frontend

#65 feat: localstroage를 sessionstroage로 변경
  frontend/rush/src/components/articleDetail/ArticleDetailPage.js
  frontend/rush/src/components/home/DefaultMapPage.js
  frontend/rush/src/components/login/OAuth2RedirectHandler.js
  frontend/rush/src/components/writing/CreateWritingApi.js
  frontend/rush/src/components/writing/WritingPage.js
  frontend/rush/src/constants/SessionStorage.js
Labels: feature, frontend

#83 refactor: article객체로 latitude, longitude를 얻어 article page에서 메인화면으로 보내도록 수정
  frontend/rush/src/components/articleDetail/ArticleDetailPage.js
  frontend/rush/src/components/home/DefaultMap.js
  frontend/rush/src/components/writing/CreateWritingApi.js
Labels: frontend, refactor

#85 feat: 댓글 최신순 정렬 및 findAllByArticle() DB 조회 횟수 줄임
  backend/rush/src/main/java/rush/rush/repository/CommentRepository.java
  backend/rush/src/main/java/rush/rush/service/CommentService.java
  backend/rush/src/test/java/rush/rush/repository/CommentRepositoryTest.java
Labels: backend, feature
